/**
  Not temporary variables for the theme.
 */
$primary-color: #2D2B5E;
$secondary-color: #181431;
$tertiary-color: #B29445;
$background-color: #F5F5FC;
$text-primary-color: #000;
$text-secondary-color: #fff;
$text-tertiary-color: #f7b91e;

$op-red: #b8051a;
$op-blue: #016fb5;
$op-green: #198b63;
$op-purple: #8c1b7d;

/**
  Temporary variables for the theme.
 */
$color-black: #04020C;
$color-dark-blue: #181431;
$color-light-blue: #2D2B5E;
$color-white: #DEDEE6;
$color-gold: #B29445;