/**
  Temporary variables for the theme.
 */
$primary-color: #0a58ca;
$secondary-color: #5189d3;
$tertiary-color: #8fb6ea;
$text-primary-color: #fff;
$text-secondary-color: #4c4c4c;

/**
  Not temporary variables for the theme.
 */
$color-black: #04020C;
$color-dark-blue: #181431;
$color-light-blue: #2D2B5E;
$color-white: #DEDEE6;
$color-gold: #B29445;
