@import "_grid";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
}

html {
  height: calc(100% - 63px)
}

body {
  height: calc(100% - 75px)
}

app-root {
  height: 100%
}

skeleton {
  height: 100%
}

deckbuilder {
  height: 100%
}

deckbuilder .container {
  height: 100%
}

deckbuilder .container .builder {
  height: 100%
}
deckbuilder .container .card-zone {
  height: auto
}
deckbuilder .container .card-zone cards {
  height: 100%
}
deckbuilder div .build-zone {
  height: 100%
}

cards {
  height: 100%
}

cards>div {
  height: 100%
}

.cards-view {
  height: 100%
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: $tertiary-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $text-tertiary-color;
}

select {
  border: none;
  border-bottom: 1px solid $secondary-color;
  background: $secondary-color;
  color: $text-secondary-color;
  font-size: 1rem;
  border-radius: 2px;

  &:focus {
    option:checked {
      background: linear-gradient($tertiary-color, $tertiary-color);
    }
  }
  option {
    padding-left: 10px;

    &:checked, &:hover {
      background-color: $tertiary-color;
    }
  }

}

select:active, select:hover, select:focus-within, select:focus, input {
  outline: none;
}

button {
  color: $text-secondary-color;
  background-color: $secondary-color;
  font-size: 16px;
  padding: 5px 15px;
  border: 1px solid $tertiary-color;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;

  &.main {
    background-color: $tertiary-color;
    color: $text-primary-color;

    &:hover {
      background-color: $text-tertiary-color;
    }
  }

  &:hover {
    background-color: $tertiary-color;
  }
}
