@import "_variables";

table {
    width: 100%;
    color: $text-secondary-color;
    border-collapse: collapse;
    margin: 20px 0 50px;
    user-select: none;
  
    th.cardImage {
      width: 80px;
      background-position: 29% 16%;
      background-size: 120%;
    }
  
    thead {
      color: $text-primary-color;
    }
  
    tr {
      border: 1px solid $background-color;
      height: 35px;
    }
  
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }