<div [style.top]="getMouseYZoomedCard() + 'px'" *ngIf="isZoomed" class="zoomedCard">
  <img [src]="imgCardZoomed" [width]="300"/>
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th (click)="sortCardsByType()">Type</th>
    <th (click)="sortCardsByEnName()">Name</th>
    <th (click)="sortCardsByCostLife()">Cost/Life</th>
    <th (click)="sortCardsByPower()">Power</th>
    <th (click)="sortCardsByCounter()">Counter</th>
    <th (click)="sortCardsByRarity()">Rarity</th>
    <th (click)="sortCardsBySerialNumber()">Code</th>
  </tr>
  </thead>
  <tbody>
  <tr
    (click)="onCardClick(card)"
    (contextmenu)="onCardRightClick(card)"
    *ngFor="let card of cards | async"
    [style.background-color]="card.colors[0].hex_color" 
    (mousemove)="mouseMoved($event)" 
    (mouseenter)="zoomCard(true, card)" 
    (mouseleave)="zoomCard(false)"
  >
    <th
      [style.background-image]="
          'linear-gradient(to right, rgba(15,20,22,0) 0%,' +
          card.colors[0].hex_color +
          ' 90%, ' +
          card.colors[0].hex_color +
          ' 100%), url(/assets/images/cards/' +
          card.serial_number.split('-')[0] +
          '/' +
          card.serial_number +
          '.png)'
        "
      class="cardImage"
    ></th>
    <th>{{ card.type.en_name }}</th>
    <th>{{ card.en_name }}</th>
    <th>{{ card.cost }}{{ card.life }}</th>
    <th>{{ card.power }}</th>
    <th>{{ card.counter }}</th>
    <th>
      <span *ngFor="let rarity of card.rarities">{{ rarity.abbr }}</span>
    </th>
    <th>{{ card.serial_number }}</th>
  </tr>
  </tbody>
</table>
