<div *ngIf="isZoomed" [style.top]="getMouseYZoomedCard() + 'px'" class="zoomedCard">
  <img [src]="imgCardZoomed" [width]="300" alt="zoomed card" />
</div>

<table>
  <thead>
  <tr>
    <th></th>
    <th (click)="sortCardsByType()">Type</th>
    <th (click)="sortCardsByEnName()">Name</th>
    <th (click)="sortCardsByCostLife()">Cost/Life</th>
    <th (click)="sortCardsByPower()">Power</th>
    <th (click)="sortCardsByCounter()">Counter</th>
    <th (click)="sortCardsByRarity()">Rarity</th>
    <th (click)="sortCardsBySerialNumber()">Code</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="cards | async as cards">
    <tr
      (click)="onCardClick(card)"
      (contextmenu)="onCardRightClick(card)"
      (mouseenter)="zoomCard(true, card)"
      (mouseleave)="zoomCard(false)"
      (mousemove)="mouseMoved($event)"
      *ngFor="let card of cards.data"
      [style.background-image]="!card.colors[1] ?
      'linear-gradient(to right, ' + card.colors[0].hex_color + ' 45%, ' + card.colors[0].hex_color + ' 55%)'
      :
      'linear-gradient(to right, ' + card.colors[0].hex_color + ' 45%, ' + card.colors[1].hex_color + ' 55%)'
    "
    >
      <th
        [style.background-image]="
          'linear-gradient(to right, rgba(15,20,22,0) 0%,' +
          card.colors[0].hex_color +
          ' 90%, ' +
          card.colors[0].hex_color +
          ' 100%), url(/assets/images/cards/' +
          card.serial_number.split('-')[0] +
          '/' +
          card.serial_number +
          '.png)'
        "
        class="cardImage"
      ></th>
      <th>{{ card.type.en_name }}</th>
      <th>{{ card.en_name }}</th>
      <th>{{ card.cost }}{{ card.life }}</th>
      <th>{{ card.power }}</th>
      <th>{{ card.counter }}</th>
      <th>
        <span *ngFor="let rarity of card.rarities">{{ rarity.abbr }}</span>
      </th>
      <th>{{ card.serial_number }}</th>
    </tr>
  </ng-container>
  </tbody>
</table>
