<ng-container *ngIf="card | async as c">
  <div class="container">
    <div class="row cardDetails">
      <div class="col-md-4">
        <div class="details left">
          <div class="serialSet">
            <div class="serial">{{ c.serial_number }}</div>
            <div class="set">{{ c.set.en_name }}</div>
          </div>
          <img [src]="'/assets/images/cards/' + c.serial_number.split('-')[0] + '/' + c.images[imageNumber].path">
          <div *ngIf="c.images.length > 1" class="imgChoice">
            <span class="arrow" (click)="previousImage()"><-</span>
            <span>{{ imageNumber + 1}}/{{ c.images.length}}</span>
            <span class="arrow" (click)="nextImage(c.images.length)">-></span>
          </div>
          <table>
            <tr>
              <td class="left">Rarity :</td>
              <td class="right">{{ c.rarities[0].en_name }}</td>
            </tr>
            <tr>
              <td class="left">Type :</td>
              <td class="right">{{ c.type.en_name }}</td>
            </tr>
            <tr>
              <td class="left">Attribute :</td>
              <td class="right">{{ c.attribute.en_name }}</td>
            </tr>
            <tr>
              <td class="left" *ngIf="!c.colors[1]">Color :</td>
              <td class="left" *ngIf="c.colors[1]">Colors :</td>
              <td class="right"><span *ngFor="let color of c.colors">{{ color.en_name }} </span></td>
            </tr>
            <tr>
              <td class="left"*ngIf="!c.tags[1]">Tag :</td>
              <td class="left" *ngIf="c.tags[1]">Tags :</td>
              <td class="right"><div *ngFor="let tag of c.tags">{{ tag.en_name }} </div></td>
            </tr>
            <tr>
              <td class="left" *ngIf="c.type.en_name == 'Leader'">Life :</td>
              <td class="left" *ngIf="c.type.en_name != 'Leader'">Cost :</td>
              <td class="right">{{ c.cost }}{{ c.life }}</td>
            </tr>
            <tr *ngIf="c.power">
              <td class="left">Power :</td>
              <td class="right">{{ c.power }}</td>
            </tr>
            <tr *ngIf="c.type.en_name == 'Character'">
              <td class="left">Counter :</td>
              <td class="right" *ngIf="c.counter">{{ c.counter }}</td>
              <td class="right" *ngIf="!c.counter">0</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div class="details">
          <div class="topName" [style.background-color]="c.colors[0].hex_color">
            <div class="name">{{ c.en_name }}</div>
            <div class="serial">{{ c.serial_number }}</div>
          </div>
          <span class="title">Description</span>
          <div class="description">{{ c.en_effect }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
