<ng-container *ngIf="card | async as card">
  <div class="container">
    <div class="row cardDetails">
      <div class="col-md-4">
        <div class="details left">
          <div class="serialSet">
            <div class="serial">{{ card.serial_number }}</div>
            <div class="set">{{ card.set.en_name }}</div>
          </div>
          <img [src]="'/assets/images/cards/' + card.set.set_number + '/' + card.images[imageNumber].path"
               alt="{{card.serial_number}}">
          <div *ngIf="card.images.length > 1" class="imgChoice">
            <fa-icon (click)="previousImage()" [icon]="FontAwesomeIcon.faArrowLeft"></fa-icon>
            <span>{{ imageNumber + 1}}/{{ card.images.length}}</span>
            <fa-icon (click)="nextImage(card.images.length)" [icon]="FontAwesomeIcon.faArrowRight"></fa-icon>
          </div>
          <table>
            <tr>
              <td class="left">Rarity :</td>
              <td class="right">{{ card.rarities[0].en_name }}</td>
            </tr>
            <tr>
              <td class="left">Type :</td>
              <td class="right">{{ card.type.en_name }}</td>
            </tr>
            <tr>
              <ng-container *ngIf="card.attribute">
                <td class="left">Attribute :</td>
                <td class="right">{{ card.attribute.en_name }}</td>
              </ng-container>
            </tr>
            <tr>
              <td *ngIf="!card.colors[1]" class="left">Color :</td>
              <td *ngIf="card.colors[1]" class="left">Colors :</td>
              <td class="right"><span *ngFor="let color of card.colors">{{ color.en_name }} </span></td>
            </tr>
            <tr>
              <td *ngIf="!card.tags[1]" class="left">Tag :</td>
              <td *ngIf="card.tags[1]" class="left">Tags :</td>
              <td class="right">
                <div *ngFor="let tag of card.tags">{{ tag.en_name }} </div>
              </td>
            </tr>
            <tr>
              <td *ngIf="card.type.en_name == 'Leader'" class="left">Life :</td>
              <td *ngIf="card.type.en_name != 'Leader'" class="left">Cost :</td>
              <td class="right">{{ card.cost }}{{ card.life }}</td>
            </tr>
            <tr *ngIf="card.power">
              <td class="left">Power :</td>
              <td class="right">{{ card.power }}</td>
            </tr>
            <tr *ngIf="card.type.en_name == 'Character'">
              <td class="left">Counter :</td>
              <td *ngIf="card.counter" class="right">{{ card.counter }}</td>
              <td *ngIf="!card.counter" class="right">0</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-8">
        <div class="details">
          <div [style.background-color]="card.colors[0].hex_color" class="topName">
            <div class="name">{{ card.en_name }}</div>
            <div class="serial">
              <fa-icon (click)="changeCard(card.prev)" *ngIf="card.prev" [icon]="FontAwesomeIcon.faArrowLeft"></fa-icon>
              {{ card.serial_number }}
              <fa-icon (click)="changeCard(card.next)" *ngIf="card.next"
                       [icon]="FontAwesomeIcon.faArrowRight"></fa-icon>
            </div>
          </div>
          <div class="description">
            <span class="title">Description</span>
            {{ card.en_effect }}
          </div>

          <div class="description">
            <span *ngIf="card.type.en_name != 'Leader'" class="title">Card used with these leaders</span>
            <span *ngIf="card.type.en_name == 'Leader'" class="title">Cards used with this leader</span>
            <div *ngIf="(commonUsedCard | async)?.length! >= 1">
              <div class="row">
                <div *ngFor="let commonCard of commonUsedCard | async | slice:0:6" class="col-md-2">
                  <img (click)="changeCard(commonCard.code)"
                      [src]="'assets/images/cards/' + commonCard.code.split('-')[0] +'/' + commonCard.code + '.png'"
                      [width]="50"
                      alt="{{commonCard.code}}"
                  />
                  <span class="percent">{{commonCard.percent}}%</span>
                </div>
              </div>

              <div *ngIf="moreCommonCards" class="row">
                <div *ngFor="let commonCard of commonUsedCard | async | slice:6" class="col-md-2">
                  <img (click)="changeCard(commonCard.code)"
                      [src]="'assets/images/cards/' + commonCard.code.split('-')[0] +'/' + commonCard.code + '.png'"
                      [width]="50"
                      alt="{{commonCard.code}}"
                  />
                  <span class="percent">{{commonCard.percent}}%</span>
                </div>
              </div>

              <div (click)="displayCommonCards()" *ngIf="!moreCommonCards" class="moreCharts">+</div>
              <div (click)="displayCommonCards()" *ngIf="moreCommonCards" class="moreCharts">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
