<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form">
  <div class="form__controls">
    <form-field>
      <label for="form-email">Email</label>
      <input
        autocapitalize="off"
        autocomplete="username"
        autofocus="autofocus"
        formControlName="email"
        id="form-email"
        name="email"
        spellcheck="false"
        type="text"
      />
    </form-field>

    <form-field>
      <label for="form-password">Password</label>
      <input
        autocomplete="current-password"
        formControlName="password"
        id="form-password"
        name="password"
        type="password"
      />
    </form-field>

    <button
      [disabled]="loginForm.invalid || isLoading"
      class="app-form__submit"
    >
      {{ isLoading ? 'Waiting...' : 'Log in' }}
    </button>
  </div>
</form>
