<div class="navbar">
  <div class="navbar__header">
    <div class="navbar__header__title">
      <logo (click)="redirectToHome()" [path]="brand?.image"></logo>
    </div>
  </div>
  <div class="navbar__collapse-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar__menu">
    <ng-container *ngFor="let item of items" class="navbar__menu__item">
      <a
        [routerLink]="[item.path]"
        class="navbar__menu__item__link"
        routerLinkActive="active"
        >{{ item.title }}</a
      >
    </ng-container>
    <ng-container *ngIf="user !== null; else guest" class="navbar__menu__item">
      <a
        (click)="logout()"
        class="navbar__menu__item__link"
        href="#"
        routerLinkActive="active"
        >Logout</a
      >
    </ng-container>
    <ng-template #guest>
      <ng-container
        *ngFor="let item of accounts"
        class="navbar__menu__item"
        routerLinkActive="active"
      >
        <a
          [routerLink]="[item.path]"
          class="navbar__menu__item__link"
          routerLinkActive="active"
          >{{ item.title }}</a
        >
      </ng-container>
    </ng-template>
  </div>
</div>
