<div class="navbar">
  <div class="navbar__header">
    <div class="navbar__header__title">
      <logo
        (click)="redirectToHome()"
        [path]="brand?.image"
        [size]="150"
      ></logo>
    </div>
  </div>
  <div class="navbar__collapse-button">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar__menu">
    <a
      *ngFor="let item of items"
      [routerLink]="[item.path]"
      class="navbar__menu__item__link"
      routerLinkActive="active"
      >{{ item.title }}</a
    >
    <a
      (click)="logout()"
      *ngIf="user !== null; else guest"
      class="navbar__menu__item__link"
      href="#"
      routerLinkActive="active"
      >Logout</a
    >
    <ng-template #guest>
      <a
        *ngFor="let item of accounts"
        [routerLink]="[item.path]"
        class="navbar__menu__item__link"
        routerLinkActive="active"
        >{{ item.title }}</a
      >
    </ng-template>
  </div>
</div>
