<nav class="navbar">
  <div class="clearfix">
    <a [routerLink]="[brand?.path]" class="navbar__brand">
      {{ brand?.title }}
    </a>
  </div>
  <ul class="navbar__menu">
    <li
      *ngFor="let item of items"
      class="navbar__menu__item"
      routerLinkActive="active"
    >
      <a
        [routerLink]="[item.path]"
        class="navbar__menu__item__link"
        routerLinkActive="active"
        >{{ item.title }}</a
      >
    </li>
    <li
      *ngIf="user !== null; else guest"
      class="navbar__menu__item"
      routerLinkActive="active"
    >
      <a
        (click)="logout()"
        class="navbar__menu__item__link"
        href="#"
        routerLinkActive="active"
        >Logout</a
      >
    </li>
    <ng-template #guest>
      <li
        *ngFor="let item of accounts"
        class="navbar__menu__item"
        routerLinkActive="active"
      >
        <a
          [routerLink]="[item.path]"
          class="navbar__menu__item__link"
          routerLinkActive="active"
          >{{ item.title }}</a
        >
      </li>
    </ng-template>
  </ul>
</nav>
