<searchbar (searchSubmit)="onSearchSubmit($event)"></searchbar>

<ng-container *ngIf="rarities | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [source]="[rarities, 'rarity']"
  ></filter>
</ng-container>
<ng-container *ngIf="set | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [source]="[set, 'set']"
  ></filter>
</ng-container>
<ng-container *ngIf="status | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [source]="[status, 'status']"
  ></filter>
</ng-container>
<ng-container *ngIf="type | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [source]="[type, 'type']"
  ></filter>
</ng-container>
<ng-container *ngIf="tags | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [multiple]="true"
    [source]="[tags, 'tags']"
  ></filter>
</ng-container>
<ng-container *ngIf="colors | async">
  <filter
    (filterSubmit)="onFilterSubmit($event)"
    [multiple]="true"
    [source]="[colors, 'colors']"
  ></filter>
</ng-container>

<ng-container *ngFor="let card of cards | async">
  <card [card]="card" [size]="200"></card>
</ng-container>
