<div [class.container]="!fromDeckbuilder">
  <div class="row cards-view">
    <div class="col-md-2-5">
      <div class="filters">
        <div class="buttons">
          <button *ngIf="fromDeckbuilder">Reset the deckbuilder</button>
          <button>Reset all filters</button>
        </div>
        <ng-container *ngIf="sets | async">
          <div class="filters__subtitle"><span>Set</span></div>
          <filter
            (filterSubmit)="onSubmit($event)"
            [source]="[sets, 'sets']"
          ></filter>
        </ng-container>
        <ng-container *ngIf="types | async">
          <div class="filters__subtitle"><span>Type</span></div>
          <filter-buttons
            (filterSubmit)="onSubmit($event)"
            [source]="[types, 'types']"
          ></filter-buttons>
        </ng-container>
        <ng-container *ngIf="colors | async">
          <div class="filters__subtitle filters-multiple"><span>Colors</span></div>
          <filter-buttons (filterSubmit)="onSubmit($event)"
                          [source]="[colors, 'colors']"
                          class="filters-multiple"
          ></filter-buttons>
        </ng-container>
        <ng-container *ngIf="rarities | async">
          <div class="filters__subtitle"><span>Rarity</span></div>
          <filter-buttons-rarities
            (filterSubmit)="onSubmit($event)"
            [source]="[rarities, 'rarities']"
          ></filter-buttons-rarities>
        </ng-container>
        <ng-container *ngIf="tags | async">
          <div class="filters__subtitle "><span>Tags</span></div>
          <filter (filterSubmit)="onSubmit($event)"
                  [multiple]="true"
                  [source]="[tags, 'tags']"
                  class="filters-multiple"
          ></filter>
        </ng-container>
        <ng-container *ngIf="costs | async">
          <div class="filters__subtitle"><span>Cost</span></div>
          <filter
            (filterSubmit)="onSubmit($event)"
            [source]="[costs, 'costs']"
          ></filter>
        </ng-container>
        <ng-container *ngIf="powers | async">
          <div class="filters__subtitle"><span>Power</span></div>
          <filter
            (filterSubmit)="onSubmit($event)"
            [source]="[powers, 'powers']"
          ></filter>
        </ng-container>
        <ng-container *ngIf="status | async">
          <div class="filters__subtitle"><span>Status</span></div>
          <filter
            (filterSubmit)="onSubmit($event)"
            [source]="[status, 'status']"
          ></filter>
        </ng-container>
      </div>
    </div>

    <div class="col-md-9-5">
      <div class="row">
        <div class="col-md-2" style="text-align: center">
          <fa-icon (click)="setShowList(false)" [class.active]="!showList"
                   [icon]="FontAwesomeIcon.faGripVertical"></fa-icon>
          <fa-icon (click)="setShowList(true)" [class.active]="showList" [icon]="FontAwesomeIcon.faList"></fa-icon>
        </div>
        <div class="col-md-10">
          <searchbar (searchSubmit)="onSubmit($event)"></searchbar>
        </div>
      </div>
      <ng-container *ngIf="meta">
        <nav-paginate (pageSelected)="goToPage($event)" [meta]="meta"></nav-paginate>
      </ng-container>
      <ng-container *ngIf="cards | async as cards">
        <div [style.display]="showList ? 'none!important' : 'flex'" class="row card-list mx-0"
             style="user-select: none">
          <card
            (click)="onCardClick(card)"
            (contextmenu)="onCardRightClick(card)"
            *ngFor="let card of cards.data"
            [card]="card"
            [fromDeckbuilder]="fromDeckbuilder"
            class="col col-sm-6 col-lg-6 col-xl-4 col-xxl-3 col-xxxl-2-5"
          ></card>
        </div>
      </ng-container>
      <card-list
        (cardClicked)="onCardClick($event)"
        (cardRightClicked)="onCardRightClick($event)"
        [cards]="cards"
        [fromDeckbuilder]="fromDeckbuilder"
        [hidden]="!showList || isLoading"></card-list>
    </div>
  </div>
</div>
