.scene {
  width: 195px;
  height: 292px;
  padding: 10px 0;
  transition: all 0.1s;
  margin: auto;
}

.zoomedCard {
  position: absolute;
  z-index: 1;
  margin-top: -285px;

  &.right {
    margin-left: 200px;
  }
  
  &.left {
    margin-left: -300px;
  }
}